[Unit]
Description=Buildkit daemon service
After=network.target

[Service]
Type=simple
ExecStart=buildkitd \
    --addr {{ buildkit_addr }} \
    --oci-worker={{ oci_worker }} \
    --containerd-worker={{ containerd_worker }} \
    {% if containerd_worker %} --containerd-worker-addr={{ containerd_address }} {% endif %}


[Install]
WantedBy=multi-user.target
